<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Swiper word test pagination</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    <link rel="stylesheet" type="text/css" href="css/userTest.css">
    <script src="js/jQuery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="js/serverUserTest.js"></script>
</head>
<body>

<div class="main-container">

<!-- Slider main container -->
<div class="swiper-container">

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">
            <div>
                <h3></h3>
                <ul>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a>I don't know :(</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide">
            <div>
                <h3></h3>
                <ul>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a>I don't know :(</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide">
            <div>
                <h3></h3>
                <ul>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a>I don't know :(</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide">
            <div>
                <h3></h3>
                <ul>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a>I don't know :(</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide">
            <div>
                <h3></h3>
                <ul>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a><b></b></a>
                    </li>
                    <li>
                        <a>I don't know :(</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

<div class="last-action-container">
    <span id="finish">Finish test</span>
    <span id="test">Test!</span>
</div>

</div>
</body>
</html>